DATABASE_URL=postgres://postgres:postgres@db:5432/roommate_development
RAILS_ENV=development
REDIS_URL=redis://redis:6379/0
SECRET_KEY_BASE=changeme
AWS_ACCESS_KEY_ID=your-key
AWS_SECRET_ACCESS_KEY=your-secret
AWS_REGION=sa-east-1
